header {
  padding: $headerPaddingY $widePaddingX;
}
section {
  padding: $sectionPaddingY $widePaddingX;
}
footer {
  padding: $footerPaddingY $widePaddingX;
}

//Responsive

@media (max-width: 1200px) {

  header {
    padding: $headerPaddingY $largePaddingX;
  }
  section {
    padding: 3rem $largePaddingX;
  }
  footer {
    padding: $footerPaddingY $largePaddingX;
  }
}

@media (max-width: 900px) {

  header {
    padding: $headerPaddingY $mediumPaddingX;
  }
  section {
    padding: $sectionPaddingY $mediumPaddingX;
  }
  footer {
    padding: $footerPaddingY $mediumPaddingX;
  }
}

@media (max-width: 600px) {

  header {
    padding: $headerPaddingY $smallPaddingX;
  }
  section {
    padding: 3rem $smallPaddingX;
  }
  footer {
    padding: $footerPaddingY $smallPaddingX;
  }
}