@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
          text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #e9e9e9;
}
html::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.4rem #85858528;
}

body {
  position: relative;
}

input::-webkit-inner-spin-button {
  opacity: 1;
}

html {
  font-size: 62.5%;
}
@media only screen and (min-width: 1921px) {
  html {
    font-size: 68.75%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 2rem;
  color: #252525;
}

h1, h2, h3, h4, h5 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3.5rem;
  padding-bottom: 3rem;
  text-align: center;
  font-weight: 900;
}

strong {
  font-weight: 500;
}

p {
  line-height: 1.4;
  color: #505050;
}

.wrapper, .wrapper--footer, .wrapper--medium, .wrapper--large, .wrapper--header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.wrapper--header {
  max-width: 1200px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wrapper--large {
  max-width: 1200px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.wrapper--medium {
  max-width: 1000px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.wrapper--footer {
  max-width: 1200px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 900px) {
  .wrapper, .wrapper--header, .wrapper--large, .wrapper--medium, .wrapper--footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (max-width: 600px) {
  .wrapper, .wrapper--header, .wrapper--large, .wrapper--medium, .wrapper--footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.button {
  display: inline-block;
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: 0.15s ease-out;
  border: 0.2rem solid #ffc100;
  color: #252525;
  background: #ffc100;
  line-height: 1;
  font-size: 2rem;
  cursor: pointer;
}
.button:hover {
  background: #dfa30c;
  border: 0.2rem solid #dfa30c;
}
.button:active {
  transform: scale(0.95);
  border: 0.2rem solid #dfa30c;
}

header {
  background: #FFFFFF;
  box-shadow: 0.2rem 0.1rem 0.8rem #85858528;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: visible;
}
header .header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: "Red Hat Display", sans-serif;
  height: 8rem;
  overflow: visible;
}
header .header-flex .logo {
  font-size: 3.5rem;
  overflow: hidden;
  font-weight: 900;
  padding: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
}
header .header-flex .logo span {
  color: #ffc100;
  font-size: 4rem;
  line-height: 3.5rem;
}
header .header-flex .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: 800;
  transition: 0.3s ease-out;
  margin: 0 auto;
  visibility: hidden;
}
header .header-flex .navbar a {
  padding: 0 2rem;
  transition: 0.15s ease-out;
}
@media (hover: hover) {
  header .header-flex .navbar a:hover {
    color: #ffc100;
  }
}
header .header-flex .navbar.active {
  box-shadow: 0.2rem 0.1rem 0.8rem #85858528;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
header .header-flex .icons-nav {
  font-size: 2.6rem;
  position: relative;
  width: 17rem;
  text-align: right;
}
header .header-flex .icons-nav a {
  margin-left: 2rem;
  transition: 0.15s ease-out;
  position: relative;
}
header .header-flex .icons-nav a #cart-count {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0.2rem;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.65rem;
  text-align: center;
  vertical-align: center;
}
@media (hover: hover) {
  header .header-flex .icons-nav a:hover {
    color: #ffc100;
  }
}
header .header-flex .icons-nav #toggle-nav-btn {
  display: none;
}

.searchbar {
  visibility: hidden;
  position: absolute;
  padding: 1rem;
  width: 30rem;
  top: 10rem;
  right: 0;
  background-color: #FFFFFF;
  border: 0.3rem solid #252525;
  border-radius: 0.8rem;
  z-index: -1000000;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-out;
}
.searchbar input {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  outline: none;
  width: 89%;
  padding-right: 1rem;
  border: none !important;
}
.searchbar input:focus {
  box-shadow: none !important;
}
.searchbar i {
  color: #505050;
  font-size: 1.8rem;
}

.searchbar.active {
  box-shadow: 0.2rem 0.1rem 0.8rem #85858528;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

@media (max-width: 900px) {
  header .header-flex .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    gap: 0rem;
    padding: 2rem;
    top: 10rem;
    background-color: #FFFFFF;
    border: 0.3rem solid #252525;
    border-radius: 0.8rem;
    transform: translateY(100%);
    opacity: 0;
  }
  header .header-flex .icons-nav #toggle-nav-btn {
    display: inline-block;
  }
}
@media (max-width: 600px) {
  header .header-flex .searchbar {
    width: 100%;
    left: 0;
  }
}
footer {
  background: #252525;
}
footer .footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 400;
}
footer .footer-flex i {
  font-size: 3rem;
  padding: 0 1rem;
  transition: 0.15s ease-out;
}
footer .footer-flex i:hover {
  transform: scale(1.1);
  color: #ffc100;
}
footer .footer-flex a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  footer .footer-flex {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
}
input:not([type=submit]), select {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.8rem;
  border: 0.1rem solid #ffc100;
  outline: none;
  border-radius: 0.3rem;
  padding: 0.2rem 1rem;
}
input:not([type=submit]):focus, select:focus {
  border-color: #dfa30c;
  box-shadow: inset 0 -1px 1px rgba(223, 163, 12, 0.25);
  background: #fafafa;
}

.cart-section {
  min-height: calc(100vh - 8rem - 2rem - 9.1rem);
}

.cart {
  position: relative;
  display: grid;
  grid-template-columns: 2.1fr 0.9fr;
  border: 0.1rem solid #85858528;
  box-shadow: 0.1rem 0.2rem 4rem #85858528;
  margin: 0 auto;
}
.cart > div {
  padding: 3rem;
}
.cart h3 {
  font-size: 2.5rem;
  display: block;
  text-align: start;
  padding: 0;
  position: relative;
}
.cart h3::after {
  content: "";
  height: 2px;
  width: 7rem;
  position: absolute;
  bottom: -1rem;
  left: 0.1rem;
  background: #ffc100;
}
.cart-summary-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
}
.cart-summary-heading span {
  font-weight: 700;
}
.cart-summary-titles {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  align-items: center;
  padding: 1rem 0;
  font-weight: 600;
  text-align: center;
  color: #505050;
}
.cart-summary-titles span:nth-child(1) {
  text-align: start;
}
.cart-summary-titles span:nth-child(4) {
  text-align: end;
}
.cart-summary-list .cart-product {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-areas: "product price1 quantity price2";
  align-items: center;
  text-align: center;
  padding: 1rem 0;
  border-bottom: 1px solid #e9e9e9;
}
.cart-summary-list .cart-product .img-name-lense {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
  font-weight: 500;
  grid-area: product;
  gap: 1.5rem;
}
.cart-summary-list .cart-product .img-name-lense .cart-product-name {
  display: block;
}
.cart-summary-list .cart-product .img-name-lense .cart-product-lense {
  font-weight: 400;
}
.cart-summary-list .cart-product .img-name-lense .cart-product-img {
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20%;
  min-width: 42px;
  max-width: 50px;
}
.cart-summary-list .cart-product-price {
  grid-area: price1;
  font-size: 1.8rem;
}
.cart-summary-list .cart-product-quantity {
  width: 65%;
  margin: 0 auto;
  grid-area: quantity;
}
.cart-summary-list .cart-product-total-price {
  text-align: end;
  font-weight: 600;
  grid-area: price2;
}
.cart-summary-list .cart-product:nth-child(1) {
  border-top: 1px solid #e9e9e9;
}
.cart-summary-list .cart-product .quantity-container i {
  color: #505050;
  opacity: 0.2;
  cursor: pointer;
}
.cart-summary-list .cart-product .quantity-container i:hover {
  opacity: 0.9;
}
.cart-summary .total-order-price {
  display: block;
  text-align: right;
  font-weight: 600;
  color: #252525;
}
.cart-summary .total-order-price span {
  font-weight: 800;
  font-size: 2.4rem;
}
.cart-order {
  background: #e9e9e9;
  contain: layout;
  position: relative;
}
.cart-order .sticky-container {
  position: -webkit-sticky;
  position: sticky;
  top: 13rem;
  font-size: 1.8rem;
}
.cart-order .sticky-container h3 {
  margin-bottom: 3rem;
}
.cart-order .sticky-container .input-container {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  margin: 0 auto 0.5rem;
  min-height: 6.5rem;
  position: relative;
}
.cart-order .sticky-container .input-container label {
  display: block;
  margin: 0.5rem 0.5rem;
  font-weight: 500;
}
.cart-order .sticky-container .input-container input {
  width: 100%;
  padding: 0.5rem 1rem;
  z-index: 100;
}
.cart-order .sticky-container .policy-container {
  margin: 2rem auto;
  display: block;
}
.cart-order .sticky-container .policy-container .policy-text {
  font-size: 1.7rem;
}
.cart-order .sticky-container .policy-container .policy-text a {
  font-weight: 500;
  text-decoration: underline;
}
.cart-order .sticky-container .button {
  display: block;
  margin: 2rem auto;
}
.cart-order .sticky-container .alert {
  display: block;
  color: #b33a15;
  transition: 0.2s ease-out;
  font-weight: 500;
  margin: 0 0.5rem;
  font-size: 1.7rem;
  transform: translateY(-2rem);
  line-height: 0;
  opacity: 0;
}
.cart-order .sticky-container .error > input[type=text]:not(:focus) ~ .alert {
  transform: translateY(0rem);
  line-height: 1;
  opacity: 1;
  padding-top: 0.5rem;
}
.cart-order .sticky-container .error > input[type=text]:not(:focus) {
  color: #b33a15;
  border-color: #b33a15;
  -webkit-animation: wizz 0.15s linear 3;
          animation: wizz 0.15s linear 3;
}
.cart-order .sticky-container .error > input[type=text]:not(:focus):focus {
  border-color: #b33a15;
  box-shadow: inset 0 -1px 1px #b33a15;
}
.cart-order .sticky-container .error > input:not([type=text]):not(:checked) ~ .alert {
  transform: translateY(0rem);
  line-height: 1;
  opacity: 1;
  padding-top: 0.5rem;
}

@-webkit-keyframes wizz {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-5px);
  }
  66% {
    transform: translateX(5px);
  }
}

@keyframes wizz {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(-5px);
  }
  66% {
    transform: translateX(5px);
  }
}
@media (max-width: 900px) {
  .cart {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .cart {
    grid-template-columns: 1fr;
  }

  .cart-summary-titles {
    display: none;
  }

  .cart-summary-list .cart-product {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "product product product" "price1 quantity price2";
  }
  .cart-summary-list .cart-product .img-name-lense {
    justify-content: flex-start;
    padding-bottom: 1.5rem;
  }
  .cart-summary-list .cart-product-price {
    text-align: start;
  }
}
