@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #e9e9e9;
}
html::-webkit-scrollbar-thumb {
  background: #505050;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.4rem #85858528;
}

body {
  position: relative;
}

input::-webkit-inner-spin-button {
  opacity: 1;
}

html {
  font-size: 62.5%;
}
@media only screen and (min-width: 1921px) {
  html {
    font-size: 68.75%;
  }
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Red Hat Text", sans-serif;
  font-size: 2rem;
  color: #252525;
}

h1, h2, h3, h4, h5 {
  font-family: "Red Hat Display", sans-serif;
  font-size: 3.5rem;
  padding-bottom: 3rem;
  text-align: center;
  font-weight: 900;
}

strong {
  font-weight: 500;
}

p {
  line-height: 1.4;
  color: #505050;
}

.wrapper, .wrapper--footer, .wrapper--medium, .wrapper--large, .wrapper--header {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4rem;
  padding-right: 4rem;
}

.wrapper--header {
  max-width: 1200px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wrapper--large {
  max-width: 1200px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.wrapper--medium {
  max-width: 1000px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.wrapper--footer {
  max-width: 1200px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 900px) {
  .wrapper, .wrapper--header, .wrapper--large, .wrapper--medium, .wrapper--footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media (max-width: 600px) {
  .wrapper, .wrapper--header, .wrapper--large, .wrapper--medium, .wrapper--footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.button {
  display: inline-block;
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: 0.15s ease-out;
  border: 0.2rem solid #ffc100;
  color: #252525;
  background: #ffc100;
  line-height: 1;
  font-size: 2rem;
  cursor: pointer;
}
.button:hover {
  background: #dfa30c;
  border: 0.2rem solid #dfa30c;
}
.button:active {
  transform: scale(0.95);
  border: 0.2rem solid #dfa30c;
}

header {
  background: #FFFFFF;
  box-shadow: 0.2rem 0.1rem 0.8rem #85858528;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: visible;
}
header .header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: "Red Hat Display", sans-serif;
  height: 8rem;
  overflow: visible;
}
header .header-flex .logo {
  font-size: 3.5rem;
  overflow: hidden;
  font-weight: 900;
  padding: 0;
  width: fit-content;
  text-align: left;
}
header .header-flex .logo span {
  color: #ffc100;
  font-size: 4rem;
  line-height: 3.5rem;
}
header .header-flex .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-weight: 800;
  transition: 0.3s ease-out;
  margin: 0 auto;
  visibility: hidden;
}
header .header-flex .navbar a {
  padding: 0 2rem;
  transition: 0.15s ease-out;
}
@media (hover: hover) {
  header .header-flex .navbar a:hover {
    color: #ffc100;
  }
}
header .header-flex .navbar.active {
  box-shadow: 0.2rem 0.1rem 0.8rem #85858528;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
header .header-flex .icons-nav {
  font-size: 2.6rem;
  position: relative;
  width: 17rem;
  text-align: right;
}
header .header-flex .icons-nav a {
  margin-left: 2rem;
  transition: 0.15s ease-out;
  position: relative;
}
header .header-flex .icons-nav a #cart-count {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0.2rem;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.65rem;
  text-align: center;
  vertical-align: center;
}
@media (hover: hover) {
  header .header-flex .icons-nav a:hover {
    color: #ffc100;
  }
}
header .header-flex .icons-nav #toggle-nav-btn {
  display: none;
}

.searchbar {
  visibility: hidden;
  position: absolute;
  padding: 1rem;
  width: 30rem;
  top: 10rem;
  right: 0;
  background-color: #FFFFFF;
  border: 0.3rem solid #252525;
  border-radius: 0.8rem;
  z-index: -1000000;
  text-align: center;
  transform: translateY(100%);
  opacity: 0;
  transition: 0.3s ease-out;
}
.searchbar input {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  outline: none;
  width: 89%;
  padding-right: 1rem;
  border: none !important;
}
.searchbar input:focus {
  box-shadow: none !important;
}
.searchbar i {
  color: #505050;
  font-size: 1.8rem;
}

.searchbar.active {
  box-shadow: 0.2rem 0.1rem 0.8rem #85858528;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

@media (max-width: 900px) {
  header .header-flex .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    left: 0;
    right: 0;
    gap: 0rem;
    padding: 2rem;
    top: 10rem;
    background-color: #FFFFFF;
    border: 0.3rem solid #252525;
    border-radius: 0.8rem;
    transform: translateY(100%);
    opacity: 0;
  }
  header .header-flex .icons-nav #toggle-nav-btn {
    display: inline-block;
  }
}
@media (max-width: 600px) {
  header .header-flex .searchbar {
    width: 100%;
    left: 0;
  }
}
footer {
  background: #252525;
}
footer .footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  font-size: 1.8rem;
  font-weight: 400;
}
footer .footer-flex i {
  font-size: 3rem;
  padding: 0 1rem;
  transition: 0.15s ease-out;
}
footer .footer-flex i:hover {
  transform: scale(1.1);
  color: #ffc100;
}
footer .footer-flex a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  footer .footer-flex {
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
}
input:not([type=submit]), select {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.8rem;
  border: 0.1rem solid #ffc100;
  outline: none;
  border-radius: 0.3rem;
  padding: 0.2rem 1rem;
}
input:not([type=submit]):focus, select:focus {
  border-color: #dfa30c;
  box-shadow: inset 0 -1px 1px rgba(223, 163, 12, 0.25);
  background: #fafafa;
}

.banner .banner-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 3rem;
}
.banner__desc {
  flex: 1 1 45rem;
  min-width: 10rem;
  max-width: 60rem;
  margin: 0 auto;
}
.banner__desc h2 {
  font-size: 4rem;
  font-weight: 900;
  text-align: start;
  padding-bottom: 2rem;
}
.banner__img {
  flex: 1 1 45rem;
  min-width: 10rem;
  max-width: 50rem;
  margin: 0 auto;
}

.products {
  overflow: hidden;
}
.products .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 1.5rem;
  justify-content: center;
}
.products .gallery .product-card {
  padding: 1.8rem;
  background: #FFFFFF;
  border: 0.1rem solid #85858528;
  box-shadow: 0.1rem 0.2rem 2rem #85858528;
  margin: 0 auto;
}
.products .gallery .product-card__img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.products .gallery .product-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.products .gallery .product-card__details h3 {
  font-family: "Red Hat Text", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  padding: 0.6rem;
  color: #252525;
}
.products .gallery .product-card__details .card-price {
  font-family: "Red Hat Display", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #252525;
  padding-bottom: 0.8rem;
}

@media (max-width: 900px) {
  .banner__desc h2 {
    font-size: 3.5rem;
  }
}
