.separator-top {
  position: relative;
  height: 40px;
  .divider-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.divider-top svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 29px;
}
.divider-top .shape-fill {
    fill: #F6F6F8;
}
}

.hero {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;


  @media screen and (max-width: 950px) {
    flex-direction: column-reverse;
    height: fit-content;
  }

  &__desc {
    width: 40%;
    padding: 24px 0;
    @media screen and (max-width: 950px) {
      width: 90%;
    }

    h2 {
      padding-bottom: 24px;
      @media screen and (max-width: 950px) {
        padding-bottom: 12px;
      }
    }
  }
  img {
    width: 40%;
    min-width: 200px;
    padding-top: 8px;
  }
}

.separator-bottom {
  position: relative;
  height: 64px;
  .divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  .divider-bottom svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 88px;
    transform: rotateY(180deg);
  }
  .divider-bottom .shape-fill {
    fill: #F6F6F8;
  }
}


.products {
  background: $greyLight;
  position: relative;
  i {
    position: absolute;
    top: -64px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px;
    animation: wobble 5s infinite;
    opacity: 0;
    @media screen and (max-width: 950px) {
      opacity: 0.85;
    }
  }
  h2 {
    position: relative;
    text-align: center;
  }

  .gallery {
    display: block;
  }
}

@keyframes wobble {
  0%, 12% {
      transform: translateX(-50%);
      transform-origin: 50% 50%;
}
  2% {transform: translateX(-60%) rotate(-6deg);}
  4% {transform: translateX(-45%) rotate(6deg);}
  6% {transform: translateX(-55%) rotate(-3.6deg);}
  8% {transform: translateX(-48%) rotate(2.4deg);}
  10% {transform: translateX(-52%) rotate(-1.2deg);}
}