footer {
  background: $black;
  .footer-flex {
    @include flex(space-between, center);

    color: $white;
    font-size: 1.8rem;
    font-weight: 400;
  
  
    i {
      font-size: 3rem;
      padding: 0 1rem;
    }
  }

}


// Responsive

@media (max-width: 600px) {
  footer {
    .footer-flex {
      flex-direction: column-reverse;
      gap: 1.5rem;

    }
  }
}