header {
  background: $white;
  box-shadow: 0.2rem 0.1rem 0.8rem $shadowColor;
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: visible;
  
  .header-flex {
    @include flex(space-between, center);
    position: relative;
    font-family: $headingFont;
    height: $headerHeight;
    overflow: visible;

    // Logo
    .logo {
      font-size: 3.5rem;
      overflow: hidden;
      font-weight: 900;
      padding: 0;
      width: fit-content;
      text-align: left;

      // Logo Dot
      span {
        color: $primary;
        font-size: 4rem;
        line-height: 3.5rem;
      }
    }

    // Navbar
    .navbar {
      @include flex (center, center);
      flex-direction: row;
      font-weight: 800;
      transition:  0.3s ease-out;
      margin: 0 auto;
      visibility: hidden;

      a {
        padding: 0 2rem;
        transition: 0.15s ease-out;
      }

      @media (hover: hover) {
        a:hover {
          color: $primary;
        }
      }
    
    }

    // Mobile navbar when active
    .navbar.active {
      box-shadow: 0.2rem 0.1rem 0.8rem $shadowColor;
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    // Icons nav
    .icons-nav {
      font-size: 2.6rem;
      position: relative;
      width: 17rem;
      text-align: right;

      a {
        margin-left: 2rem;
        transition: 0.15s ease-out;
        position: relative;
        #cart-count {
          position: absolute;
          width: 100%;
          top: 0;
          left: 0.2rem;
          color: $white;
          font-size: 1rem;
          line-height: 1.65rem;
          text-align: center;
          vertical-align: center;
        }
      }

      @media (hover: hover) {
        a:hover {
          color: $primary;
        }
      }

      #toggle-nav-btn {
        display: none;
      }
    }
  }
}

// Searchbar

.searchbar {
  visibility: hidden;
  position: absolute;
  padding: 1rem;
  width: 30rem;
  top: calc($headerHeight + ($headerPaddingY * 2));
  right: 0;
  background-color: $white;
  border: 0.3rem solid $black;
  border-radius: 0.8rem;
  z-index: -1000000;
  text-align: center;
  transform: translateY(+100%);
  opacity: 0;
  transition: 0.3s ease-out;


  input {
    font-family: $textFont;
    font-size: 1.8rem;
    font-weight: 600;
    outline: none;
    width: 89%;
    padding-right: 1rem;
    border: none !important;
    &:focus {
      box-shadow: none !important
    }
  }

  i {
    color: $greyMedium;
    font-size: 1.8rem;
  }
}

.searchbar.active {
  box-shadow: 0.2rem 0.1rem 0.8rem $shadowColor;
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}


// Responsive

@media (max-width: 900px) {
  
  header {
    .header-flex {

      // Mobile navbar
      .navbar {
        @include flex(center, center);
        flex-direction: row;
        position: absolute;
        left: 0;
        right: 0;
        gap: 0rem;
        padding: 2rem;
        top: calc($headerHeight + ($headerPaddingY * 2));
        background-color: $white;
        border: 0.3rem solid $black;
        border-radius: 0.8rem;
        transform: translateY(+100%);
        opacity: 0;
      }

      // Mobile icons nav
      .icons-nav {
        #toggle-nav-btn {
          display: inline-block;
        }
      }
    }
  }
}
 
@media (max-width: 600px) {
  header {
    .header-flex {
      .searchbar {
        width: 100%;
        left: 0;
      }
    }
  }
}