//Fonts

$headingFont: 'Red Hat Display', sans-serif;
$textFont: 'Red Hat Text', sans-serif;


//Colors

$white: #FFFFFF;
$greyLight: #E0E0E0;
$greyMedium: #858585;
$black: #222222;

$primaryLight: #FFE085;
$primary: #FFB901;
$primaryDark: #8F6B00;

$accentLight: #778DCF;
$accent: #4261BD;
$accentDark: #2A3E79;

$shadowColor: #85858528;

// Other variables

$headerHeight: 9rem;