@font-face {
  font-family: 'Fredericka';
  src: url('../../fonts/fredericka.ttf')  format('truetype')
}

@font-face {
  font-family: 'Amiko';
  src: url('../../fonts/Amiko-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'NotoSans';
  src: url('../../fonts/NotoSans-Regular.ttf')  format('truetype')
}


body {
  font-family: $textFont;
  color: $blackSmoky;
}

header {
  font-weight: 600;
}
h1 {
  font-family: $logoFont;
  font-size: 48px;
  color: $blue;
  @media screen and (max-width: 950px) {
    font-size: 38px;
  }
}

nav {
  font-family: $headingFont;
  font-size: 18px;

  @media screen and (max-width: 950px) {
    font-size: 16px;
  }
}

h2 {
  font-family: $headingFont;
  font-size: clamp(20px, 3vw, 38px);

  @media screen and (max-width: 950px) {
    text-align: center;
  }
}

p {
  font-size: clamp(16px, 2vw, 20px);
  line-height: 28px;
  @media screen and (max-width: 950px) {
    text-align: center;
    line-height: 20px;
  }
}