.button {
  display: inline-block;
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 1rem 2rem;
  transition: 0.15s ease-in-out;
  border: 0.2rem solid $primary;
  color: $black;
  background: $primary;
  line-height: 1;

  &:hover {
    background: $primaryDark;
    border: 0.2rem solid $primaryLight;
  }
  &:active {
    transform: scale(0.95);
    border: 0.2rem solid $primaryDark;
  }
}