.button {
  display: inline-block;
  border: 0.15rem solid $accent;
  border-radius: 0.6rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  transition: 0.15s ease-in-out;
  color: $accent;

  &:hover {
    background: $accent;
    color: $white;
  }
}