//Fonts
$logoFont: 'Fredericka', cursive;
$headingFont: 'Amiko', sans-serif;
$textFont: 'NotoSans', sans-serif;

//Colors
$white: #FFFFFF;
$greyLight: #f6f6f8;
$greyMedium: #bfbdc0;
$greyDark: #747475;
$blackSmoky: #151114;
$black: #000000;
$blue: #1F233C;
