.banner {
  .banner-flex{
    @include flex(space-between, center);
    flex-wrap: wrap-reverse;
    gap: 3rem;
  }

  &__desc {
    flex: 1 1 45rem;
    min-width: 10rem;
    max-width: 60rem;
    margin: 0 auto;

    h2 {
      font-size: 4rem;
      font-weight: 900;
      text-align: start;
      padding-bottom: 2rem;
    }
  }

  &__img {
    flex: 1 1 45rem;
    min-width: 10rem;
    max-width: 50rem;
    margin: 0 auto;
  }
}


.products {
  overflow: hidden;

  .gallery {
    @include grid(23rem);
    gap: 1.5rem;
    justify-content: center;

    .product-card {
      padding: 1.8rem;
      background: $white;
      border: 0.1rem solid $shadowColor;
      box-shadow: 0.1rem 0.2rem 2rem $shadowColor;
      margin: 0 auto;

      &__img {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }

      &__details {
        @include flex(space-between, center);
        flex-direction: column;
        text-align: center;
        h3 {
          font-family: $textFont;
          font-size: 2.2rem;
          font-weight: 600;
          padding: 0.6rem;
          color: $black;
        }
        .card-price {
          font-family: $headingFont;
          font-size: 2rem;
          font-weight: 700;
          color: $black;
          padding-bottom: 0.8rem;
        }
      }

    }
  }
}

// Responsive

@media (max-width: 900px) {
  .banner {
    &__desc {
      h2 {
        font-size: 3.5rem;
      }
    }
  }
}
