.product-section {
  min-height: calc(100vh - $headerHeight - ($headerPaddingY * 2) - 9.1rem);
}

.product {
  @include flex(center, center) ;
  gap: 4rem;
  flex-wrap: wrap;
  border: 0.1rem solid $shadowColor;
  box-shadow: 0.1rem 0.2rem 4rem $shadowColor;
  padding: 3rem;
  margin: 0 auto;

  &__img {
    flex: 1 1 30rem;
    min-width: 10rem;
    max-width: 50rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    align-self: flex-start;

  }
  &__details {

    flex: 1 1 38rem;
    min-width: 0;
    max-width: 50rem;

  }
  &__name {
    text-align: start;
    padding-bottom: 2rem;
  }
  &__desc {
    padding-bottom: 2rem;
  }
  &__quantity,
  &__lense-choice {
      @include flex(flex-start, center);
      gap: 1rem;
      font-size: 2rem;
      color: $greyMedium;
  }
  &__quantity {
    padding-bottom: 1.5rem;
    caret-color: $greyLight;
    input {
      width: 8rem;
    }
  }
  &__lense-choice {
    padding-bottom: 3rem;
    flex-wrap: wrap;
  }
  &__price {
    font-size: 2.6rem;
    font-weight: 600;
    display: block;
    padding-bottom: 2rem;

  }
  .button {
    padding: 1rem 2.2rem;
  }
}


.cart-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 85vw), -50%);
  width: 90%;
  max-width: 60rem;
  background: $white;
  box-shadow: 0 0 0 200vw rgba(54, 54, 54, 0.3), 0.2rem 0.2rem 0.8rem rgba(46, 46, 46, 0.8);
  border-radius: 2rem;
  z-index: 1500;
  padding: 2.5rem;
  text-align: center;
  display: block;
  opacity: 0;
  transition: 0.3s ease-in-out;
  &__product-text {
    padding-bottom: 2rem;
    color: $black;
  }
  p.cart-popup__title{
    font-size: 2.3rem;
    padding-bottom: 2rem;
    font-weight: 400;
  }
  p {
    padding-bottom: 0.5rem;
    font-weight: 600;
  }
  span {
    display: block;
    padding-bottom: 2rem;
  }
  .button {
    margin: 0.5rem;
  }
  &.active {
    opacity: 1;
    transform: translate(calc(-50%), -50%);
  }
}

// Responsive

@media (max-width: 600px) {

  .product {
    gap: 2rem;
    padding: 2rem;
    &__price {
      text-align: center;
    }
    .button {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
    &__img {
      max-width: 90%;
    }
  }
}

