.product-container {
  min-height: calc(100vh - $headerHeight - 9.1rem);
}

.product {
  @include flex(center, center) ;
  gap: 4rem;
  flex-wrap: wrap;
  border: 0.1rem solid $shadowColor;
  box-shadow: 0.1rem 0.2rem 4rem $shadowColor;
  padding: 3rem;

  &__img {
    flex: 1 1 30rem;
    min-width: 10rem;
    max-width: 50rem;
    margin: 0 auto;
    aspect-ratio: 1.2 / 1;
    object-fit: cover;

  }
  &__details {

    flex: 1 1 38rem;
    min-width: none;
    max-width: 50rem;
    margin: 0 auto;

  }
  &__name {
    text-align: start;
    padding-bottom: 1rem;
  }
  &__desc {
    padding-bottom: 2rem;
  }
  &__quantity,
  &__lense-choice {
      @include flex(flex-start, center);
      gap: 1rem;
      font-size: 2rem;
      color: $greyMedium;
      label {
        width: max-content;
      }
      select, input {
        font-family: $textFont;
        font-size: 1.8rem;
        border: 0.1rem solid $primary;
        outline: none;
        border-radius: 0.3rem;
        padding: 0.2rem 1rem;
      }
  }
  &__quantity {
    padding-bottom: 1.5rem;
    caret-color: $greyLight;
  }
  &__lense-choice {
    padding-bottom: 3rem;
  }
  .price-buy {
    @include flex(space-between, center);

    gap: 2rem;
  }
  &__price {
    font-size: 2.6rem;
    font-weight: 600;
    display: block;
    text-align: center;

  }
  .button {
    float: right;
    padding: 1rem 2.2rem;
  }
}

.cart-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 60rem;
  background: $white;
  box-shadow: 0 0 100vw 100vw rgba(54, 54, 54, 0.3), 0.2rem 0.2rem 0.8rem rgba(46, 46, 46, 0.8);
  border-radius: 2rem;
  z-index: 1500;
  padding: 2.5rem;
  text-align: center;
  display: none;
  &__product-text {
    padding-bottom: 2rem;
    color: $black;
  }
  p.cart-popup__title{
    font-size: 2.3rem;
    padding-bottom: 2rem;
    font-weight: 400;
  }
  p {
    padding-bottom: 0.5rem;
    font-weight: 600;
  }
  span {
    display: block;
    padding-bottom: 2rem;
  }
  .button {
    margin: 0.5rem;
  }
  &.active {
    display: block;
  }
}

// Responsive

@media (max-width: 600px) {

  .product-container {
    padding: 0;
  }

  .product {
    gap: 2rem;
    padding: 2rem;
    min-height: calc(100vh - $headerHeight);

    &__details {
      text-align: center;
    }
    &__name {
      text-align: center;
    }
    &__quantity {
      justify-content: center;
      text-align: center;
      margin: 0 auto;
    }
    &__lense-choice {
      flex-direction: column;
    }
    .price-buy {
      flex-direction: column;
    }
  }
}

